// Make all browsers equal
@import "../node_modules/normalize.css/normalize.css";


// Configure theme colours: https://material.io/resources/color

$mdc-theme-primary: #42a5f5;
$mdc-theme-primary-light: #80d6ff;
$mdc-theme-primary-dark: #0077c2;

$mdc-theme-on-primary: #000000;


// Only import CSS we need.
//@import "@material/button/mdc-button";
//@import "@material/snackbar/mdc-snackbar";
//@import "@material/layout-grid/mdc-layout-grid";

// In case we basically want everything:
@import "../node_modules/material-components-web/material-components-web";
