@import "spinner.scss";

$black: #202020;
$yellow: #eee42e;

.loading-screen {
  background-color: $black;
  color: white;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;

  .loading-screen__what {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
  }

  b {
    color: $yellow;
  }

}
