<!DOCTYPE html>
<html id="scrollme">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Team Challenge</title>

    <style>
{{ source(directory ~ '/dist/<%=htmlWebpackPlugin.files.chunks.loading_screen.css %>') }}
    </style>
  <link href="/{{directory}}/dist/<%=htmlWebpackPlugin.files.chunks.app.css %>" rel="stylesheet">
</head>
<body class="mdc-typography">
  <noscript>This app requires JavaScript.</noscript>
  <main id="main" class="loading-screen">
    <h1 class="loading-screen__what mdc-typography--headline4">Welcome to<br><b>Team Challenge</b></h1>
    <div class="loader" aria-label="loading">
      <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </main>

  {# this is a dummy, we need this else the placeholder tokens are not replaced  #}
  {% set rendered_page %}
    {{ page }}
  {% endset %}

  <script src="/{{directory}}/dist/<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>

</body>
</html>
